.about-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
 
      
      
  }
  
  .about-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    position: relative; 
  }
  
  .about-title::after {
    content: "";
    position: absolute;
    top: calc(100% + 0.5rem); 
    height: 5px;
    width: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(120, 67, 233);
    border-radius: 5px;
  }
  
  
  .about-description {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
    font-size: 1rem;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .about-content {
      flex-direction: row;
    }
  }
  
  .about-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .about-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 10px;
  }
  
  .skill-item {
    background-color: #ddd;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  